.searchLoginLan {
    width: auto;
    padding-top: 12px;
    text-align: right;
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: end;
        list-style-type: none;
        margin-left: -16px;
        margin-right: -16px;
    }
    &__item {
        margin: 0 16px;
        line-height: 23px;
    }
}
