@import "../../../../../App.scss";

.thea-item {
    &__notice {
        width: 100%;
        height: auto;
        position: relative;
        transition: all .3s ease;
    }
    &__notice-desc {
        width: 100%;
        position: relative;
        padding-top: 55px;
        padding-bottom: 215px;
    }
    &__notice-list {
        @include flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__notice-item {
        width: 100%;
        margin-bottom: 16px;
    }
    &__notice-item-text {
        color: $black;
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        font-family: "Roboto";
    }
}
