@font-face {
  font-family: "Noto Sans KR";
  src: url("./NotoSansCJKkr-Thin.otf") format("woff2"), url("./NotoSansCJKkr-Thin.otf") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./NotoSansCJKkr-DemiLight.otf") format("woff2"), url("./NotoSansCJKkr-DemiLight.otf") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./NotoSansCJKkr-Light.otf") format("woff2"), url("./NotoSansCJKkr-Light.otf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./NotoSansCJKkr-Regular.otf") format("woff2"), url("./NotoSansCJKkr-Regular.otf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./NotoSansCJKkr-Medium.otf") format("woff2"), url("./NotoSansCJKkr-Medium.otf") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./NotoSansCJKkr-Bold.otf") format("woff2"), url("./NotoSansCJKkr-Bold.otf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./NotoSansCJKkr-Black.otf") format("woff2"), url("./NotoSansCJKkr-Black.otf") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
