@import "../../App.scss";

.navbar {
    width: 100%;
    height: auto;
    position: relative;
    &__inner {
        width: 100%;
        position: relative;
        @include flex-jc-between;
    }
    &__bg-color {
        top: 0;
        left: 0;
        width: 100%;
        height: 640px;
        position: absolute;
        background: $primary-color-7;
        z-index: -1;
    }
    &__store-select {
        width: 125px;
        display: none !important;
        div {
            color: $white;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.02em;
            font-family: "SMTOWN(OTF)";
            white-space: pre-wrap !important;
            padding: 0 !important;
        }
        fieldset {
            border: none !important;
        }
        svg {
            color: $white;
            font-size: 20px;
            right: 0 !important;
        }
    }
    &__list {
        @include flex-jc-between;
    }
    &__left-list {
        width: 100%;
        max-width: 405px;
    }
    &__right-list {
        width: 100%;
        max-width: 405px;
    }
    &__logo-box {
        width: 100%;
        max-width: 426px;
        text-align: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__item {
        a {
            color: $white;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            white-space: nowrap;
        }
    }
    &__menu-box {
        width: 105px;
        display: none;
        text-align: right;
    }
    &__menu-btn {
        color: $white;
        font-size: 24px;
        margin-left: auto;
    }
}

// MEDIA PART

@media screen and (max-width: 1150px) {
    .navbar {
        &__bg-color {
            height: 690px;
        }
    }
}
@media screen and (max-width: 900px) {
    .navbar {
        &__inner {
            padding-top: 30px;
        }
        &__store-select {
            display: block !important;
        }
        &__list {
            display: none;
        }
        &__menu-box {
            display: block;
        }
    }
}
@media screen and (max-width: 700px) {
    .navbar {
        &__bg-color {
            height: 630px;
        }
    }
}
@media screen and (max-width: 576px) {
    .navbar {
        &__store-select {
            width: 90px;
            div {
                font-size: 12px;
            }
        }
        &__list {
            display: none;
        }
        &__menu-box {
            width: 70px;
        }
        &__bg-color {
            height: 550px;
        }
    }
}
@media screen and (max-width: 500px) {
    .navbar {
        &__bg-color {
            height: 470px;
        }
    }
}
@media screen and (max-width: 450px) {
    .navbar {
        &__store-select {
            width: 65px;
            div {
                font-weight: 300;
            }
        }
        &__list {
            display: none;
        }
        &__logo-box {
            margin: 0 30px;
            img {
                width: 60px;
                height: 56px;
            }
        }
        &__menu-box {
            width: 60px;
        }
        &__menu-btn {
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 430px) {
    .navbar {
        &__bg-color {
            height: 430px;
        }
    }
}
@media screen and (max-width: 380px) {
    .navbar {
        &__bg-color {
            height: 390px;
        }
    }
}
