@import "../../../../../App.scss";

.thea-item {
    &__refund {
        width: 100%;
        position: relative;
    }
    &__refund-desc {
        width: 100%;
        position: relative;
        padding-bottom: 35px;
        padding-top: 55px;
    }
    &__refund-item{
        width: 100%;
        margin-bottom: 16px;
    }
    &__refund-text {
        color: $black;
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        font-family: "Roboto";
    }
}
