@font-face {
    font-family: "SMTOWN(OTF)";
    src: url("./SMTOWN\(OTF\)-Stencil.otf") format("woff2"), url("./SMTOWN\(OTF\)-Stencil.otf") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SMTOWN(OTF)";
    src: url("./SMTOWN\(OTF\)-Rounded.otf") format("woff2"), url("./SMTOWN\(OTF\)-Rounded.otf") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SMTOWN(OTF)";
    src: url("./SMTOWN\(OTF\)-Light.otf") format("woff2"), url("./SMTOWN\(OTF\)-Light.otf") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SMTOWN(OTF)";
    src: url("./SMTOWN\(OTF\)-Regular.otf") format("woff2"), url("./SMTOWN\(OTF\)-Regular.otf") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SMTOWN(OTF)";
    src: url("./SMTOWN\(OTF\)-Medium.otf") format("woff2"), url("./SMTOWN\(OTF\)-Medium.otf") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SMTOWN(OTF)";
    src: url("./SMTOWN\(OTF\)-Bold.otf") format("woff2"), url("./SMTOWN\(OTF\)-Bold.otf") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
