/* Fonts */
@import "./assets/fonts/SMTOWN/smtown.scss";
@import "./assets/fonts/NotoSans/notoSansKR.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Mixin and Scss Veriables */
@import "./src/assets/mixin/mixin.scss";
@import "./src/assets/scssVerables/scssVeriables.scss";

/* ====================================== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SMTOWN(OTF)";
}
html{
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
button {
  border: none;
  cursor: pointer;
  background: transparent;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
  color: transparent;
}
p {
  margin: 0;
}
/* ====================================== */
.app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  max-width: 1920px;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1360px;
  transition: all 0.3s ease;
}

// MEDIA PART

@media screen and (max-width: 500px) {
  .container {
    padding: 0 25px;
  }
}
@media screen and (max-width: 450px) {
  .container {
    padding: 0 20px;
  }
}
