$white: #fff;
$black: #000;
$primary-color-1: #223055;
$primary-color-2: #fbe1ea;
$primary-color-3: #878787;
$primary-color-4: #ff0000;
$primary-color-5: #f2f2f2;
$primary-color-6: #fbe1e9;
$primary-color-7: #b0b7c1;
$primary-color-8: #eeeeee;
$primary-color-9: gba(0, 0, 0, 0.7);
$primary-color-10: rgba(34, 48, 85, 0.23);
$primary-color-11: #bca876;
$primary-color-12: #858585;
$primary-color-13: #172240;

$db-radius-1: 20px;
$db-radius-2: 50%;
